In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From c:\Users\Kelvin\anaconda\envs\env\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [4]:
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<500].index)
application_types_to_replace

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
countsbinning = application_df['CLASSIFICATION'].value_counts()

In [8]:
countsclassification = countsbinning[countsbinning>1]
countsclassification

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (countsbinning[countsbinning<100].index)
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
y

# Take out IS_SUCCESSFUL
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 30)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From c:\Users\Kelvin\anaconda\envs\env\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 7)                 350

 dense_1 (Dense)             (None, 14)                112

 dense_2 (Dense)             (None, 1)                 15

=================================================================
Total params: 477 (1.86 KB)
Trainable params: 477 (1.86 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

WARNING:tensorflow:From c:\Users\Kelvin\anaconda\envs\env\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=80)

Epoch 1/80
WARNING:tensorflow:From c:\Users\Kelvin\anaconda\envs\env\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\Kelvin\anaconda\envs\env\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

684/684 [==============================] - 3s 3ms/step - loss: 0.6176 - accuracy: 0.6700 - val_loss: 0.5792 - val_accuracy: 0.7217
Epoch 2/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5658 - accuracy: 0.7242 - val_loss: 0.5656 - val_accuracy: 0.7276
Epoch 3/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5564 - accuracy: 0.7291 - val_loss: 0.5630 - val_accuracy: 0.7256
Epoch 4/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5533 - accuracy: 0.7299 - val_loss: 0.5613 - val_accuracy: 0.7271
Epoch 5/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5514 - accuracy: 0.7304 - val_loss: 0.5593 - val_accuracy: 0.7271
Epoch 6/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7305 - val_loss: 0.5592 - val_accuracy: 0.7266
Epoch 7/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5483 - accuracy: 0.7309 - val_loss: 0.5576 - val_accuracy: 0.7297
Epoch 8/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7327 - val_loss: 0.5578 - val_accuracy: 0.7287
Epoch 9/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7321 - val_loss: 0.5577 - val_accuracy: 0.7279
Epoch 10/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7325 - val_loss: 0.5601 - val_accuracy: 0.7217
Epoch 11/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7330 - val_loss: 0.5549 - val_accuracy: 0.7261
Epoch 12/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7331 - val_loss: 0.5564 - val_accuracy: 0.7235
Epoch 13/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7333 - val_loss: 0.5553 - val_accuracy: 0.7284
Epoch 14/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7338 - val_loss: 0.5547 - val_accuracy: 0.7287
Epoch 15/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7340 - val_loss: 0.5553 - val_accuracy: 0.7256
Epoch 16/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7351 - val_loss: 0.5557 - val_accuracy: 0.7284
Epoch 17/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7338 - val_loss: 0.5548 - val_accuracy: 0.7274
Epoch 18/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7347 - val_loss: 0.5570 - val_accuracy: 0.7245
Epoch 19/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7349 - val_loss: 0.5544 - val_accuracy: 0.7292
Epoch 20/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7348 - val_loss: 0.5535 - val_accuracy: 0.7287
Epoch 21/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5421 - accuracy: 0.7366 - val_loss: 0.5538 - val_accuracy: 0.7289
Epoch 22/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7341 - val_loss: 0.5548 - val_accuracy: 0.7282
Epoch 23/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7340 - val_loss: 0.5549 - val_accuracy: 0.7284
Epoch 24/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7351 - val_loss: 0.5544 - val_accuracy: 0.7308
Epoch 25/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7364 - val_loss: 0.5533 - val_accuracy: 0.7300
Epoch 26/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7348 - val_loss: 0.5540 - val_accuracy: 0.7305
Epoch 27/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7351 - val_loss: 0.5540 - val_accuracy: 0.7282
Epoch 28/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7356 - val_loss: 0.5554 - val_accuracy: 0.7279
Epoch 29/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7357 - val_loss: 0.5545 - val_accuracy: 0.7279
Epoch 30/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7347 - val_loss: 0.5543 - val_accuracy: 0.7282
Epoch 31/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7357 - val_loss: 0.5552 - val_accuracy: 0.7245
Epoch 32/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7358 - val_loss: 0.5545 - val_accuracy: 0.7287
Epoch 33/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7354 - val_loss: 0.5534 - val_accuracy: 0.7279
Epoch 34/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5410 - accuracy: 0.7357 - val_loss: 0.5555 - val_accuracy: 0.7266
Epoch 35/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7359 - val_loss: 0.5544 - val_accuracy: 0.7256
Epoch 36/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7365 - val_loss: 0.5545 - val_accuracy: 0.7297
Epoch 37/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7374 - val_loss: 0.5542 - val_accuracy: 0.7287
Epoch 38/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7365 - val_loss: 0.5546 - val_accuracy: 0.7264
Epoch 39/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7365 - val_loss: 0.5537 - val_accuracy: 0.7279
Epoch 40/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7356 - val_loss: 0.5537 - val_accuracy: 0.7258
Epoch 41/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7370 - val_loss: 0.5531 - val_accuracy: 0.7289
Epoch 42/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7364 - val_loss: 0.5530 - val_accuracy: 0.7295
Epoch 43/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7365 - val_loss: 0.5523 - val_accuracy: 0.7274
Epoch 44/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7371 - val_loss: 0.5544 - val_accuracy: 0.7240
Epoch 45/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7362 - val_loss: 0.5543 - val_accuracy: 0.7235
Epoch 46/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7360 - val_loss: 0.5529 - val_accuracy: 0.7274
Epoch 47/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7367 - val_loss: 0.5533 - val_accuracy: 0.7279
Epoch 48/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7360 - val_loss: 0.5529 - val_accuracy: 0.7284
Epoch 49/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7361 - val_loss: 0.5532 - val_accuracy: 0.7282
Epoch 50/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7367 - val_loss: 0.5520 - val_accuracy: 0.7287
Epoch 51/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7371 - val_loss: 0.5535 - val_accuracy: 0.7245
Epoch 52/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7361 - val_loss: 0.5549 - val_accuracy: 0.7251
Epoch 53/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7371 - val_loss: 0.5523 - val_accuracy: 0.7282
Epoch 54/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7372 - val_loss: 0.5533 - val_accuracy: 0.7279
Epoch 55/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7377 - val_loss: 0.5520 - val_accuracy: 0.7297
Epoch 56/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7377 - val_loss: 0.5534 - val_accuracy: 0.7251
Epoch 57/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7371 - val_loss: 0.5543 - val_accuracy: 0.7243
Epoch 58/80
684/684 [==============================] - 4s 5ms/step - loss: 0.5385 - accuracy: 0.7381 - val_loss: 0.5522 - val_accuracy: 0.7302
Epoch 59/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5386 - accuracy: 0.7375 - val_loss: 0.5543 - val_accuracy: 0.7251
Epoch 60/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7378 - val_loss: 0.5535 - val_accuracy: 0.7279
Epoch 61/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7384 - val_loss: 0.5526 - val_accuracy: 0.7295
Epoch 62/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7371 - val_loss: 0.5527 - val_accuracy: 0.7295
Epoch 63/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7381 - val_loss: 0.5527 - val_accuracy: 0.7279
Epoch 64/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7388 - val_loss: 0.5527 - val_accuracy: 0.7279
Epoch 65/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7374 - val_loss: 0.5540 - val_accuracy: 0.7276
Epoch 66/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7380 - val_loss: 0.5522 - val_accuracy: 0.7289
Epoch 67/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7386 - val_loss: 0.5527 - val_accuracy: 0.7238
Epoch 68/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7368 - val_loss: 0.5524 - val_accuracy: 0.7240
Epoch 69/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7380 - val_loss: 0.5531 - val_accuracy: 0.7264
Epoch 70/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7365 - val_loss: 0.5515 - val_accuracy: 0.7289
Epoch 71/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7388 - val_loss: 0.5526 - val_accuracy: 0.7287
Epoch 72/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7383 - val_loss: 0.5523 - val_accuracy: 0.7251
Epoch 73/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7382 - val_loss: 0.5517 - val_accuracy: 0.7284
Epoch 74/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7376 - val_loss: 0.5521 - val_accuracy: 0.7284
Epoch 75/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7384 - val_loss: 0.5522 - val_accuracy: 0.7287
Epoch 76/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7379 - val_loss: 0.5521 - val_accuracy: 0.7287
Epoch 77/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7378 - val_loss: 0.5541 - val_accuracy: 0.7248
Epoch 78/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7389 - val_loss: 0.5518 - val_accuracy: 0.7297
Epoch 79/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7385 - val_loss: 0.5532 - val_accuracy: 0.7276
Epoch 80/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7388 - val_loss: 0.5536 - val_accuracy: 0.7248

In [16]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5631 - accuracy: 0.7174 - 457ms/epoch - 2ms/step
Loss: 0.5630972385406494, Accuracy: 0.7174344062805176